@import "variables";
@import "bootstrap";
@import "compass/css3";


body {
	padding-top: 60px;
	font-size: 20px;
	color: black;
}

.brand {
	color: white;
	position: relative;
	top: 50%;
}